.container{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tip-calculator {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px #00000033;
}

.left {
  flex: 1;
  padding-right: 20px;
}

.right {
  flex: 1;
  padding-left: 20px;
  border-left: 1px solid #ccc;
  
}

/* Add more styling as needed */
